/*index.html*/

/* шапка */
.page {
  color: #757575;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
}

.web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.list {
  list-style: none;
}

.site-nav {
  color: #212121;
}

.site-nav :hover {
  color: #2196f3;
}

/*index.html*/

/*portfolio.html*/
/*portfolio.html*/
